<!DOCTYPE html>

<%- include('./parts/htmlSetting') %>

<body>
    <%- include('./parts/header') %>
    <!--folderNameからContentBoxに変更しておく-->
    <div id="main-edit">
        <% items.forEach(function (v,k) { %>
        <div class="folderName" id="<%= v.id %>" style="
            <% if (v.checkFin == 0) {%>
            box-shadow: 0 0 20px red;
            <% } else { %>
            box-shadow: 0 0 20px green;
            <% } %>">
            <table style="width:100%;font-size: 20px">
                <tbody>
                    <tr>
                        <td>

                            <table style="width: 100%;">
                                <tbody>
                                    <tr>

                                        <td style="width:100%;">
                                            <b>内容</b>
                                        </td>
                                        <td>
                                            <% if (v.checkFin === '0') {%>
                                            <a href="<%= v.questions %>/<%= v.id %>" class="finishedCheck_btn">完了</a>
                                            <% } %>

                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div>
                                                <%= v.questionsCon %>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- pagingと検索 -->
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>ユーザー情報</b>
                            <table style="width:100%;">
                                <tbody>
                                    <tr>
                                        <!-- "身分"とかを協調 -->
                                        <td colspan="2">
                                            <b>
                                                身分：
                                            </b>
                                            <%= v.ident%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>
                                                氏名：
                                            </b>
                                            <%= v.questioner%>
                                        </td>
                                        <td>
                                            <b>
                                                学生番号：
                                            </b>
                                            <%= v.questionersNumber%>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>
                                                連絡先：
                                            </b>
                                            <%= v.questionersAddress%>
                                        </td>
                                        <td>
                                            <b>
                                                基盤ID：
                                            </b>
                                            <%= v.questionersID%>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>特記事項</b>
                            <div>
                                <%= v.specialText %>
                            </div>
                            <hr>
                        </td>
                    </tr>
                    <tr style="text-align:right;">
                        <td>
                            <b>
                                対応日時：
                            </b>
                            <%= v.date %>
                            <br>
                            <b>
                                担当：
                            </b>
                            <%= v.stuff %>
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="width:100%;text-align:center;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="/data2csv/<%= v.id%>" class="common_btn">CSV出力</a>
                                        </td>
                                        <td>
                                            <a href="<%= v.questions %>/deleteData/<%= v.id %>" class="common_btn">削除</a>
                                        </td>
                                        <td>
                                            <a href="/updateData/edit/<%= v.id %>" class="common_btn">修正</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <% }); %>
    </div>
</body>

</html>