<!DOCTYPE html>
<html>

<%- include('./parts/htmlSetting') %>

<body>
    <%- include('./parts/header') %>


    <div id="main">
        <div id="home">
            <div id="main-menu">
                <h2>検索画面</h2>
                <div class="folderName">
                    <form action="/search" method="post">
                        <table style="width:100%;font-size: 20px">
                            <tbody>
                                <tr>
                                    <td>
                                        <b>日付: </b>
                                        <input name="date" type="text" class="date-search">
                                    </td>

                                    <td>

                                        <b>担当者: </b>
                                        <select name="stuff">
                                            <option value="">未選択</option>
                                            <option value="高橋">高橋</option>
                                            <option value="石田">石田</option>
                                        </select>

                                    </td>

                                </tr>

                                <tr>
                                    <td rowspan="3">
                                        <b>質問者の身分</b>
                                        <select name="ident">
                                            <option value="">未選択</option>
                                            <option value="学生">学生</option>
                                            <option value="教職員">教職員</option>
                                        </select>

                                    </td>
                                    <td>
                                        <b>質問者の名前</b>
                                        <input type="text" name="questioner">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>質問者の学籍番号</b>
                                        <input type="text" name="questionersNumber">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>質問者の基盤ID</b>
                                        <input type="text" name="questionersID">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <b>完了済みか否か</b>
                                        <select name="checkFin">
                                            <option value="">未選択</option>
                                            <option value="1">完了</option>
                                            <option value="0">未完了</option>
                                        </select>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <p class="formButton">
                            <input id="searchButton" type="button" value="検索">
                        </p>
                        <p class="formButton">
                            <input id="exportCSVButton" type="button" value="CSV出力">
                        </p>
                    </form>
                </div>


                <% title.forEach(function(v,k) { %>
                <% if (v !== 'null') { %>

                <div class="folderName">
                    <span id="title">
                        <a href="/lists">
                            <a href="/lists/<%= v.questions %>">
                                <%= v.questions %>
                            </a>
                        </a>
                    </span>
                    <hr>
                    <p>更新日時：
                        <%= v.date %>
                    </p>
                </div>
                <% }; %>
                <% }); %>
            </div>
            <!-- </div> -->
        </div>

    </div>


</body>

</html>