<!DOCTYPE html>

<%- include('./parts/htmlSetting') %>

<body>
    <%- include('./parts/header') %>
    <!--folderNameからContentBoxに変更しておく-->
    <div id="main-edit">
        <div class="folderName">
            <span id="title">ユーザー対応記録</span>
            <form action="/updateData/<%= v.id %>" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td class="td-left">
                                <b>対応日時：</b>
                            </td>
                            <td class="td-right">
                                <span style="font-size:24px;" type="text">
                                    <%= v.date%></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <div style="display:flex;">
                    <table>
                        <tbody>
                            <tr>
                                <td class="td-left">
                                    <b>担当者：</b>
                                </td>
                                <td class="td-right">
                                    <select name="stuff">
                                        <option data-display="Select">選択してください</option>
                                        <option value="高橋" <% if (v.stuff=='高橋' ) {%>
                                            selected
                                            <% } %>>
                                            高橋</option>
                                        <option value="石田" <% if (v.stuff=='石田' ) {%>
                                            selected
                                            <% } %>>
                                            石田</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <b>質問者について</b>
                <table>
                    <tbody>
                        <tr>
                            <td class="td-left">
                                <b>身分：</b>
                            </td>
                            <td class="td-right">
                                <select name="ident">
                                    <option data-display="Select">選択してください</option>
                                    <option value="学生" <% if (v.ident=='学生' ) {%>
                                        selected
                                        <% } %>>
                                        学生</option>
                                    <option value="教職員" <% if (v.stuff=='教職員' ) {%>
                                        selected
                                        <% } %>">
                                        教職員</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>氏名：</b>
                            </td>
                            <td>
                                <input type="text" name="questioner" value="<%= v.questioner %>">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>学生（教職員）番号：</b>
                            </td>
                            <td>
                                <input type="text" name="questionersNumber" value="<%= v.questionersNumber %>">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>連絡先：</b>
                            </td>
                            <td>
                                <input type="text" name="questionersAddress" value="<%= v.questionersAddress %>">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>基盤ID：</b>
                            </td>
                            <td>
                                <input type="text" name="questionersID" value="<%= v.questionersID %>">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <div style="display:flex;">
                    <table>
                        <tbody>
                            <tr>
                                <td class="td-left">
                                    <b>対応種別：</b>
                                </td>
                                <td class="td-right">
                                    <% const ary = [
                                        'パスワードリクエスト',
                                        'ICカード不具合',
                                        '履修登録関連',
                                        '学内ライセンスソフトウェア',
                                        '端末設定対応',
                                        '証明書リクエスト',
                                        '教育用端末関連',
                                        'その他',
                                    ]; %>
                                    <select name="questions">
                                        <option data-display="Select">選択してください</option>
                                        <% ary.forEach(function (qName,k) { %>
                                        <option value="<%= qName %>" <% if (v.questions==qName) {%>
                                            selected
                                            <% } %>
                                            >
                                            <%= qName %>
                                        </option>
                                        <% }); %>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>内容：</b>
                                </td>
                                <td>
                                    <!-- textareaへ -->
                                    <!-- 必須事項と制限 -->
                                    <input type="text" name="questionsCon" value="<%= v.questionsCon %>">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <table>
                    <tbody>
                        <tr>
                            <td class="td-left">
                                <b>特記事項：</b>
                            </td>
                            <td class="td-right">
                                <textarea name="specialText" id="text" cols="20" rows="10">
                                    <%= v.specialText%>
                                </textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <div style="margin:auto;width:200px;">
                    <p class="formButton">
                        <input type="submit" value="内容を更新する">
                    </p>

                </div>
            </form>
        </div>


    </div>


</body>

</html>